.page-wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    135deg,
    #020617 0%,
    #020617 40%,
    #020617 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
